*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
  width: 100%;
  line-height: 100px;
  background-color: rgb(0, 255, 255);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  color: rgb(4, 0, 255);
  box-sizing: 5px 3px 15px -5px black;
}

.main_note{
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
}

.my_notes h1{
  color: silver;
}

.my_notes p{
  color: grey;
}

form {
  min-height: 50px;
  color: rgb(241, 238, 238);
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px black;
  border-radius: 10px;
  position: relative;
}

input {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
  color: green;
}

textarea{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  margin: 10px 0;
  color: crimson;
}

.MuiButton-root {
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: red !important;
  box-shadow: 5px 5px 15 -5px black;
  border-radius: 50% !important;
}

.MuiButton-root .plus_sign {
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b400;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}

.MuiButton-root:hover{
  background: #f4b400 !important;
}

.MuiButton-root:hover .plus_sign{
  color: rgb(7, 220, 253);
  background: transparent;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1{
  font-size: 1.5em;
  margin-bottom: 6px;
  color: green;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
}

.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: crimson;
}

.note .btn {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px black;
}

.delete_Icon{
  width: 0.7em;
  height: 0.7em;
}

.note .btn:hover{
  background-color: red;
}

.note .btn:hover .delete_Icon {
  color: #fff;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  text-align: center;
}

footer p{
  color: rgb(153, 143, 143);
}
































